DATABASE_URL=postgresql+psycopg2://user:password@localhost:5432/time_series

JWT_SECRET=
API_KEY=
BUCKET_NAME=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://localhost:8000/auth/google/callback

AWS_REGION=us-east-1
FEEDBACK_TO_EMAIL=
SES_SENDER_EMAIL=
